snippet TEST GTest test
	TEST(${1:context},${2:testName}) {
		${3}
	}

snippet test GTest test
	TEST(${1:context},${2:testName}) {
		${3}
	}

snippet TESTF GTest test
	TEST_F(${1:TestClass},${2:testName}) {
		${3}
	}
snippet testf GTest test
	TEST_F(${1:TestClass},${2:testName}) {
		${3}
	}
