# Anonymous Function
snippet f
	e => { e.${1} }
# Anonymous Function
snippet fu
	(${1}) => { ${2} }
snippet fun
	function ${1}(${2}) {
	    ${3} 
	}
# Jasmine test 
snippet it
	it('${1}', async () => {
	    expect(${2}).toEqual(${3});
	});
# Jasmine test 
snippet bef
	beforeEach(() => {
	    ${1};
	});
# Jasmine describe 
snippet des
	describe('${1}', () => {
	    ${2}
	});
