snippet des Describe subject
	describe "${1:subject}" do
		${2}
	end
snippet desc Describe Type
	describe ${1:Type} do
		${2}
	end
snippet it it block
	it "${1:should do something}" do
		${2}
	end
snippet xit it (pending)
	it "${1:does something}"${2}
